.modal {
  display: block;
  position: fixed;
  z-index: 3000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  width: 95%;
  max-width: 768px;
}
#mydivheader {
  padding: 10px;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}
#container {
  padding: 20px;
}
.btn,
.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.btn,
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.display-topright {
  position: relative;
  right: -9px;
  top: -33px;
  float: right;
}
@media (max-width: 768px) {
  .modal {
    padding-top: 50px;
  }
}
.animate-top {
  position: relative;
  animation: animate-top 0.4s;
}
@keyframes animate-top {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
